@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  transition: all 1s;
}
table tr td{
  vertical-align: middle;
}

.App {
  text-align: center;
  background-color: #f1f1f1
}

.navbar {
  background-color: #1d1d1d;
  transition: 2s ease-in-out;
}

.navbar a {
  color: white;
}

.navbar .navbar-nav a:hover {
  border-radius: 5px 10px;
  background-color: lightblue;
}
.active {
background-color: lightblue !important;
border-radius: 5px 10px;
}
.valorVenda {
  background-color: rgb(128, 227, 240) !important;
  font-weight: bolder;
}
.valorVenda2 {
  background-color: rgb(182, 231, 255) !important;
}
 .btn {
  width: auto !important;
}
.button-filter {
  border: 0;

  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 2px;
}

.capitalize {
  text-transform: capitalize;
}

.modal {
  /* Estilos para o modal quando não está visível */
  display: none;
}

.modal.show {
  /* Estilos para o modal quando está visível */
  display: block;
  /* ou qualquer outra propriedade que você usa para exibir o modal */
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #303030 !important; */
}

.container-wrap {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para formulário */
.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para botão */
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.lista-busca {
  border: 1px solid lightblue;
  border-radius: 0px 0px 10px 10px;
  padding: 0px 15px;
}

.lista-busca li {
  list-style-type: none;
  border-bottom: 1px solid lightgray;
  padding: 2px 0px;
}

.lista-imeis {
  padding: 5px;
  border-bottom: 2px solid lightblue
}

label {
  font-weight: bold;
}

.clickable:hover {
  cursor: pointer;
}

.espacamento-02 {
  margin-top: 2rem;
}

.espacamento-03 {
  margin-top: 3rem;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
  .container-wrap {
    max-width: 100%;
    padding: 10px;
  }
}