@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  transition: ease-in-out 1s;
}

.logo {
  mix-blend-mode: multiply;
}

table tr td {
  vertical-align: middle;
}

.table-estoque-venda {
  background-color: rgba(0, 255, 64, 0.111);
  border-radius: 5px;
}

.table-outros tr td {
  vertical-align: middle;
}


.login-back {
  color: white;
  background: rgb(2, 65, 29);
  background: linear-gradient(180deg, rgba(2, 65, 29, 1) 0%, rgba(75, 246, 169, 1) 100%);
}

.login-container form {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}

.App {
  text-align: center;
  background-color: #f1f1f1;
}

.navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
}

.navbar {
  background: rgb(2, 65, 29);
  background: linear-gradient(180deg, rgba(2, 65, 29, 1) 0%, rgba(3, 136, 76, 1) 100%);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8) !important;
  transition: 2s ease-in-out;
}

.navbar .dropdown-menu {
  background-color: #484848 !important;
  color: black !important;
}

.navbar-nav .nav-link.show {
  color: white !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: black !important;
}

.navbar a {
  color: white;
}

.navbar .navbar-nav a {
  border-radius: 5px 10px;
}

.navbar .navbar-nav a:hover {
  border-radius: 5px 10px;
  background-color: rgba(173, 230, 182, 0.5);
  color: white !important;
}

.active {
  background-color: rgba(173, 230, 182) !important;
  border-radius: 5px 10px;
  font-weight: bolder !important;
}

.valorVenda {
  background-color: rgb(173, 230, 182) !important;
  font-weight: bolder;
}

.valorVenda2 {
  background-color: rgb(173, 230, 182) !important;
}

.btn {
  width: auto !important;
}

.button-filter {
  border: 0;

  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 2px;
}

.capitalize {
  text-transform: capitalize;
}

.modal {
  /* Estilos para o modal quando não está visível */
  display: none;
}

.modal.show {
  /* Estilos para o modal quando está visível */
  display: block;
  /* ou qualquer outra propriedade que você usa para exibir o modal */
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #303030 !important; */
}

.container-wrap {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para formulário */
.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.divs-estat {
  display: flex;
  flex: 1;
  gap: 10px;
  flex-direction: row;
}

.divs-estat>a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #34db3944;
  padding: 40px 20px;
  font-weight: bold;
  box-sizing: border-box;
  transition: 0.2s all;
}
.divs-estat>a:hover {
  font-size: 1.1rem;
}
.divs-estat i {
  font-size: 1.8rem;
}

/* Estilos para botão
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

.lista-busca {
  border: 1px solid lightblue;
  border-radius: 0px 0px 10px 10px;
  padding: 0px 15px;
}

.lista-busca li {
  list-style-type: none;
  border-bottom: 1px solid lightgray;
  padding: 2px 0px;
}

.lista-imeis {
  padding: 5px;
  border-bottom: 2px solid lightblue;
}

label {
  font-weight: bold;
}

.clickable:hover {
  cursor: pointer;
}

.espacamento-02 {
  margin-top: 2rem;
}

.espacamento-03 {
  margin-top: 3rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #f3f2f2;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  padding: 5px;

}

footer a:hover {
  text-decoration: underline;
}

footer a {
  text-decoration: none;
  color: initial;
}

footer img {
  width: 35px;
}

.logo img {
  width: 40px;
}

.espacamento-100 {
  color: white !important;
  border: 0 !important;
  margin-bottom: 100px;
}

@media (max-width: 900px) {
  footer .logo {
    display: none;
  }

  footer {
    display: none;
  }

  footer {
    padding: 10px 0;
  }
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
  .container-wrap {
    max-width: 100%;
    padding: 10px;
  }
}